body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #bdc3c7;
}

td {
    border: 1px solid #bdc3c7;
    width: 70px;
    height: 70px;
    text-align: center;
}

#turno {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#barcos {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 5%;
}

.barco {
    display: flex;
    margin-bottom: 10px;
    cursor: grab;
}

.barco div {
    width: 70px;
    height: 70px;
    background-color: #3498db;
    border: 1px solid #2980b9;
}

.barco.vertical {
    flex-direction: column;
}

.dragging {
    opacity: 0.5;
}

.ship {
    background-color: #3498db;
}

.ship-hit {
    background-color: #e74c3c;
}

.ship-miss {
    background-color: #3c98df;
}

.ship-sunk {
    background-color: #c78b37;
}